In [47]:

from urllib.request import urlopen
from plotly.offline import plot

In [48]:
# storing and anaysis
import numpy as np
import pandas as pd

# visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
import plotly.figure_factory as ff
import folium

In [49]:
# color pallette
cnf = '#393e46' # confirmed - grey
dth = '#ff2e63' # death - red
rec = '#21bf73' # recovered - cyan
act = '#fe9801' # active case - yellow

# converter
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [50]:
#url = r'C:\Users\Sayantan\Desktop\April2_WorldReport.csv'
full_table = pd.read_csv(r"C:\Users\Sayantan\Desktop\April2_WorldReport.csv",encoding='latin1')
                        
#full_table.head()
full_table

,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot Cases/1M pop,Deaths/1Mpop
0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.0
1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.0
2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.0
3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.0
4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.0
...,...,...,...,...,...,...,...,...,...,...
200,Caribbean Netherlands,2,NaN,NaN,NaN,NaN,2,NaN,76,NaN
201,St. Vincent Grenadines,2,NaN,NaN,NaN,1,1,NaN,18,NaN
202,Sierra Leone,2,NaN,NaN,NaN,NaN,2,NaN,0.3,NaN
203,Papua New Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.1,NaN
204,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.8,NaN

In [51]:
full_table.head()

,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot Cases/1M pop,Deaths/1Mpop
0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.0
1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.0
2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.0
3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.0
4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.0

In [52]:
full_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           205 non-null    object
 1   Total             205 non-null    object
 2    New Cases        42 non-null     float64
 3   Total Deaths      140 non-null    object
 4   New Deaths        19 non-null     float64
 5   Total Recovered   151 non-null    object
 6   Active Cases      205 non-null    object
 7   Serious           109 non-null    object
 8   Tot Cases/1M pop  203 non-null    object
 9   Deaths/1Mpop      138 non-null    float64
dtypes: float64(3), object(7)
memory usage: 16.1+ KB

In [53]:
full_table.isnull().sum()

Country               0
Total                 0
 New Cases          163
Total Deaths         65
New Deaths          186
Total Recovered      54
Active Cases          0
Serious              96
Tot Cases/1M pop      2
Deaths/1Mpop         67
dtype: int64

In [54]:
full_table.isna().sum()

Country               0
Total                 0
 New Cases          163
Total Deaths         65
New Deaths          186
Total Recovered      54
Active Cases          0
Serious              96
Tot Cases/1M pop      2
Deaths/1Mpop         67
dtype: int64

In [55]:
# replacing Mainland china with just China
full_table['Country'] = full_table['Country'].replace('Mainland China', 'China')

In [56]:
full_table["Serious"].describe()

count     109
unique     56
top         1
freq       12
Name: Serious, dtype: object

In [40]:
full_table["Serious"].unique()

array(['5,005', '4,035', '5,872', '466', '3,408', '6,017', '3,871', '163',
       '348', '979', '1,088', '1,053', '215', '55', '120', '230', '296',
       '107', '50', '393', '105', '72', '103', '145', '31', '102', '8',
       '100', '57', '69', '1', '12', nan, '23', '62', '90', '7', '49',
       '147', '47', '24', '34', '37', '2', '15', '5', '30', '11', '17',
       '3', '10', '44', '6', '9', '4', '14', '16'], dtype=object)

In [41]:
full_table

,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,Tot Cases/1M pop,Deaths/1Mpop
0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.0
1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.0
2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.0
3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.0
4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.0
...,...,...,...,...,...,...,...,...,...,...
200,Caribbean Netherlands,2,NaN,NaN,NaN,NaN,2,NaN,76,NaN
201,St. Vincent Grenadines,2,NaN,NaN,NaN,1,1,NaN,18,NaN
202,Sierra Leone,2,NaN,NaN,NaN,NaN,2,NaN,0.3,NaN
203,Papua New Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.1,NaN
204,Timor-Leste,1,NaN,NaN,NaN,NaN,1,NaN,0.8,NaN

In [60]:
df1 = full_table.dropna(subset=['Serious'])
print(df1)

              Country     Total   New Cases Total Deaths  New Deaths  \
0                 USA  2,15,344       341.0        5,112        10.0
1               Italy  1,10,574         NaN       13,155         NaN
2               Spain  1,04,118         NaN        9,387         NaN
3               China    81,554         NaN        3,312         NaN
4             Germany    77,981         NaN          931         NaN
..                ...       ...         ...          ...         ...
127            Monaco        55         NaN            1         NaN
130         Guatemala        46         7.0            1         NaN
134       El Salvador        41         8.0            2         NaN
136  French Polynesia        37         NaN          NaN         NaN
143          Ethiopia        29         NaN          NaN         NaN

    Total Recovered Active Cases Serious Tot Cases/1M pop  Deaths/1Mpop
0             8,878     2,01,354   5,005              651         15.00
1            16,847       80,572   4,035            1,829        218.00
2            22,647       72,084   5,872            2,227        201.00
3            76,238        2,004     466               57          2.00
4            19,175       57,875   3,408              931         11.00
..              ...          ...     ...              ...           ...
127               2           52       2            1,402         25.00
130              12           33       1                3          0.06
134             NaN           39       4                6          0.30
136             NaN           37       1              132           NaN
143               2           27       2              0.3           NaN

[109 rows x 10 columns]

In [68]:
df1.to_csv(r'C:\Users\Sayantan\Desktop\world2.csv')

In [73]:
full_table1 = pd.read_csv(r"C:\Users\Sayantan\Desktop\world2.csv",encoding='latin1')
full_table1

,Unnamed: 0,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,TotÂ Cases/1M pop,Deaths/1Mpop
0,0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.00
1,1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.00
2,2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.00
3,3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.00
4,4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.00
...,...,...,...,...,...,...,...,...,...,...,...
104,127,Monaco,55,NaN,1,NaN,2,52,2,"1,402",25.00
105,130,Guatemala,46,7.0,1,NaN,12,33,1,3,0.06
106,134,El Salvador,41,8.0,2,NaN,NaN,39,4,6,0.30
107,136,French Polynesia,37,NaN,NaN,NaN,NaN,37,1,132,NaN
108,143,Ethiopia,29,NaN,NaN,NaN,2,27,2,0.3,NaN

In [74]:
full_table1.head()

,Unnamed: 0,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,TotÂ Cases/1M pop,Deaths/1Mpop
0,0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.0
1,1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.0
2,2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.0
3,3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.0
4,4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.0

In [75]:
full_table1.drop(full_table1.columns[[0]], axis = 1, inplace = True) 
full_table1

,Country,Total,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious,TotÂ Cases/1M pop,Deaths/1Mpop
0,USA,"2,15,344",341.0,"5,112",10.0,"8,878","2,01,354","5,005",651,15.00
1,Italy,"1,10,574",NaN,"13,155",NaN,"16,847","80,572","4,035","1,829",218.00
2,Spain,"1,04,118",NaN,"9,387",NaN,"22,647","72,084","5,872","2,227",201.00
3,China,"81,554",NaN,"3,312",NaN,"76,238","2,004",466,57,2.00
4,Germany,"77,981",NaN,931,NaN,"19,175","57,875","3,408",931,11.00
...,...,...,...,...,...,...,...,...,...,...
104,Monaco,55,NaN,1,NaN,2,52,2,"1,402",25.00
105,Guatemala,46,7.0,1,NaN,12,33,1,3,0.06
106,El Salvador,41,8.0,2,NaN,NaN,39,4,6,0.30
107,French Polynesia,37,NaN,NaN,NaN,NaN,37,1,132,NaN
108,Ethiopia,29,NaN,NaN,NaN,2,27,2,0.3,NaN

In [108]:
full_latest_grouped = full_table1.groupby('Country')['Serious'].sum().reset_index()

In [109]:
flg = full_latest_grouped
#flg.head()
flg

        Country Serious
0       Albania       7
1       Andorra      12
2       Armenia      30
3     Australia      50
4       Austria     215
..          ...     ...
104         USA   5,005
105     Uruguay      15
106  Uzbekistan       8
107   Venezuela       6
108     Vietnam       3

[109 rows x 2 columns]

# using plotly

In [112]:
fig = px.bar(flg.sort_values('Serious', ascending=False).head(10).sort_values('Serious', ascending=True), 
             x="Serious", y="Country", title='Serious Cases of COVID-19 of Top 10 Countries', text='Serious', orientation='h', 
             width=1000, height=400,template='plotly_dark')

fig.update_traces(marker_color='#3498db', opacity=0.6, textposition='outside')

# using matplotlib

In [101]:
sort_by_serious=flg.sort_values('Serious',ascending=False).head(10)
print(sort_by_serious)

          Country Serious
101        Turkey     979
39         Greece      90
20     Costa Rica       9
106    Uzbekistan       8
85         Russia       8
24        Czechia      72
0         Albania       7
5      Azerbaijan       7
94   South Africa       7
50          Japan      69

In [103]:
sort_by_serious=full_table1.sort_values('Serious',ascending=False).head(10)
print(sort_by_serious)

         Country   Total   New Cases Total Deaths  New Deaths Total Recovered  \
9         Turkey  15,679         NaN          277         NaN             333
37        Greece   1,415         NaN           51         NaN              52
69    Costa Rica     375         NaN            2         NaN               4
26        Russia   2,777         NaN           24         NaN             190
85    Uzbekistan     187         6.0            2         NaN              12
21       Czechia   3,604        15.0           40         1.0              61
38  South Africa   1,380         NaN            5         NaN              50
70    Azerbaijan     359         NaN            5         NaN              26
77       Albania     259         NaN           15         NaN              67
30         Japan   2,384         NaN           57         NaN             472

   Active Cases Serious TotÂ Cases/1M pop  Deaths/1Mpop
9        15,069     979               186          3.00
37        1,312      90               136          5.00
69          369       9                74          0.40
26        2,563       8                19          0.20
85          173       8                 6          0.06
21        3,503      72               337          4.00
38        1,325       7                23          0.08
70          328       7                35          0.50
77          177       7                90          5.00
30        1,855      69                19          0.50